@import 'bower_components/normalize-scss/normalize.scss';
@import 'bower_components/compass-breakpoint/stylesheets/breakpoint';
@import 'bower_components/jeet/scss/jeet/index';

@import 'settings';
@import 'b64';

$large: 1024px;

$palette: (
  'green': #00B141,
  'orange': #FC6719,
  'purple': #742E8B,
  'pink': #EF3EA9
);

* {
  box-sizing: border-box;
}

body {
  font-family: $font__main;
  background-color: color('green');
  @include breakpoint($large) {
    background-color: color('orange');
  }
}
